{% extends 'base.html.twig' %}

{% block title %}Planify - Ajout livraison{% endblock %}

{% block body %}
    <h1>Ajout d'une livraison</h1>

    {{ include('livraison/_form.html.twig') }}

{% endblock %}
