{% extends 'base.html.twig' %}

{% block title %}New Tournee{% endblock %}

{% block body %}
    <h1>Create new Tournee</h1>

    {{ include('tournee/_form.html.twig') }}

    <a href="{{ path('app_tournee_index') }}">back to list</a>
{% endblock %}
