{% extends 'base.html.twig' %}

{% block title %}Planify - Ajout tournées{% endblock %}

{% block body %}
    <h1>Génération des tournées</h1>

    {{ include('tournee/_form.html.twig') }}

    
{% endblock %}
